@{
    Layout = null;
}

@model Icenet.Service.Logging.UI.Models.LogItemModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    @*<h4 class="modal-title">@Model.Title</h4>*@
</div>
<div  class="modal-body">
    <p> Transaction Id:               @Model.TransactionId      </p>
    <p> Message:                      @Model.Message            </p>
    <p> Message Extended:             @Model.MessageExtended    </p>
    <p> Process Id:                   @Model.ProcessId          </p>
    <p> Stack trace:                  @Model.StackTrace         </p>
    <p> ServiceContract :             @Model.ServiceContract    </p>
    <p> ServiceMethod :               @Model.ServiceMethod      </p>
    <p> Request:                      @Model.Request            </p>
    <p> Response:                     @Model.Response           </p>
    <p> CallDuration  :               @Model.CallDuration       </p>
    <p> CreatedByUser   :             @Model.CreatedByUser      </p>
    <p> CreatedDateTime :             @Model.CreatedDateTime    </p>
    <p> UpdatedByUser  :              @Model.UpdatedByUser      </p>
    <p> UpdatedDateTime   :           @Model.UpdatedDateTime    </p>
    <p> AccessControlList    :        @Model.AccessControlList  </p>
    <p> ExceptionMessage    :         @Model.ExceptionMessage   </p>
    <p> id   :                        @Model.id                 </p>
    <p> SourceMachine    :            @Model.SourceMachine      </p>
    <p> SourceProcess    :            @Model.SourceProcess      </p>
    <p> Context     :                 @Model.Context            </p>
    
  
</div>


<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>